body {background: #171717; font-size: 16px; font-family:'Handlee', cursive;}
.postcard{background:white; width: 430px; height: 300px;
    margin:0; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);padding: 15px;}
.postcard-header{overflow: hidden;}
.postcard-header img{max-width: 60px; float:right;}
.postcard-body{overflow: hidden;}
input {font-size: 16px; font-family:'Handlee', cursive;}
.postcard h1{margin:0;}
.body-left{float:left; width: 50%;}
.body-right{float:right; width: 50%;}
.body-right input{display:block;}
h1{font-size: 32px; padding:10px;}
.postcard-footer{ padding: 10px; text-align: center;}
.postcard-footer input[type=submit]{border:none; border-bottom: 1px solid gray;background: rgb(170, 169, 169);}
.postcard-body input[type=text]{border:none; border-bottom: 1px solid gray; width: 220px; margin-bottom: 5px; padding:5px;}
